.containerCart {
    position: fixed;
    height: 100%;
    width: 30%;
    background-color: white;
    z-index: 99999999;

    display: none;
}

.headerCartContainer {
    display: flex;
    align-items: center;
    background-color: var(--primary-color);
    min-height: 20px;
    width: 100%;

    color: #fff;
}

.headerCartContainer h2 {
    font-family: var(--second-font);
    font-size: 1.6rem;
    font-weight: 500;
    margin-left: 140px;
    padding: 5px;
}

.headerCartContainer:nth-child(1) {
    font-size: 2rem;
    font-weight: 700;
    padding-left: 5px;
    cursor: pointer;
}

.containerCartItems {
    height: 500px;
    overflow-y: scroll;
    position: relative;
    padding: 10px;
}

.containerCartItems::-webkit-scrollbar {
    width: 10px;
}

.containerCartItems::-webkit-scrollbar-track {
    background: var(--primary-color);
}

.containerCartItems::-webkit-scrollbar-thumb {
    background-color: #fff;
    border-radius: 20px;
    border: 3px solid var(--primary-color);
}


.containerCartItem {
    display: flex;
    align-items: center;
    justify-content: space-around;
    
    padding: 10px;
    border-bottom: 1px solid #ccc;
    height: 180px;
}

.containerCartItem:last-child {
    border-bottom: none;
}

.imageCartItem img{
    width: 100px;
    height: 100px;
}

.infosCartItem {
    margin-right: 200px;
    margin-left: 10px;
}

.infosCartItem h4 {
    font-family: var(--second-font);
    font-weight: 700;
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.infosCartItem p {
    font-family: var(--second-font);
    font-size: 1.4rem;
    font-weight: 600;
    width: 80px;
}

.excludeCartItem {
    font-size: 1.6rem;
    cursor: pointer;
}

.totalPriceContainer {
    padding: 10px;
    margin-top: 20px;
    width: 100%;
}

.totalPrice {
    width: 100%;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    padding: 15px;
}

.totalPrice p {
    text-transform: uppercase;
    color: #5e5e5e;
    font-family: 'League Ghotic', sans-serif;
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
}

.totalPrice p > span {
    font-family: 'League Ghotic', sans-serif;
    color: #000;
    font-size: 2rem;
    font-weight: 600;
}

.buttonsSection {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.buttonsSection .continuesCart, .buttonsSection .finishCart {
    padding: 15px;
    cursor: pointer;
    border-radius: 20px;
    width: 350px;
    font-size: 1.5rem;
    text-align: center;
    font-family: 'Helvetica', sans-serif;
}

.buttonsSection .continuesCart {
    color: #000;
    border: 1px solid #ccc;
}

.buttonsSection .finishCart {
    color: #fff;
    background-color: var(--primary-color);
    margin-top: 10px;
}

.containerEmpty {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

.textEmptyContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.textEmptyCartContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.textEmptyCartContainer h2 {
    font-family: 'League Ghotic', sans-serif;
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 20px;
    text-align: center;
}

.textEmptyCartContainer p {
    font-family: var(--second-font);
    text-align: center;
    font-size: 1.6rem;
}

.textEmptyCartContainer > div {
    padding: 15px;
    cursor: pointer;
    border-radius: 20px;
    width: 350px;
    font-size: 1.5rem;
    text-align: center;
    font-family: 'Helvetica', sans-serif;
    color: #000;
    border: 1px solid #ccc;
    margin-top: 60px;
    
}

.drop {
    display: block !important;
}