.containerProducts {
    height: 400px;
    margin-top: 30px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.sliderContainerProducts {
    display: flex;
    align-items: center;

    height: inherit;

    width: 1000px;
    overflow-x: hidden;
}

.listProducts {
    transition: all ease 0.6s;
    display: flex;
}

.arrowMoveSliderContent {
    background-color: #ffffff;
    opacity: 0.8;
    cursor: pointer;
    z-index: 9999;
    font-size: 1.5rem;
}

.arrowMoveSliderContent.Left {
    margin-right: 10px;
}

.arrowMoveSliderContent.Right {
    margin-left: 10px;
}

.imageContainer {
    padding: 15px;
    display: inline-block;
}

.imageContainer img {
    width: 220px;
    height: 210px;
    margin-bottom: 10px;
    transition: all ease-out 0.4s;
}

.textImageContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.textImageContainer .plusDiv {
    width: 30px;
    height: 30px;
    background-color: #ffffff;
    border-radius: 2px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.textImageContainer .plusDiv .iconPlus{
    font-size: 2rem;
    cursor: pointer;
}

.textImageContainer h3, .textImageContainer p {
    font-size: 1.3rem;
    font-family: var(--second-font);
    
    font-weight: 300;
}

.textImageContainer p {
    margin-top: 2px;
    color: rgb(139, 139, 139);
}

.visualization, .visualization-two, .visualization-three, .visualization-four {
    position: absolute;
    z-index: 999;
    margin-top: 170px;

    width: 220px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.808);

    display: flex;
    justify-content: center;
    align-items: center;

    display: none;
}

.visualization p, .visualization-two p, .visualization-three p, .visualization-four p {
    font-family: var(--second-font);
    font-size: 1.3rem;
    font-weight: 300;
}
.show {
    display: flex;
}

/*HOVER AND EFFECTS*/
.imageContainer img:hover {
    cursor: pointer;
}

/*MEDIA QUERIES*/
@media (max-width: 1035px) {
    .sliderContainerProducts {
        width: 750px;
    }
}

@media (max-width: 790px) {
    .sliderContainerProducts {
        width: 500px;
    }
}

@media (max-width: 540px) {
    .sliderContainerProducts {
        width: 250px;
    }
}