.containerAllInformations {
    width: 100%;
    height: 350px;

    display: flex;
    justify-content: space-around;
    
    padding-top: 60px;

    border-top: 1px solid var(--primary-color);
}

.descriptionShop {
    display: flex;
    flex-direction: column;
}

.descriptionShop h3 {
    font-size: 1.4rem;
    margin-bottom: 10px;
    text-indent: 0.6rem;
}

.descriptionShop ul {
    list-style: none;
}

.descriptionShop ul li {
    font-size: 1.6rem;
    padding: 3px;
    font-family: var(--primary-font);
    cursor: pointer;
    font-weight: 500;
}

.informationShop {
    display: flex;
    flex-direction: column;
}

.titleInformation {
    display: flex;
    margin-bottom: 20px;
    align-items: center;
}

.titleInformation .icon {
    font-size: 1.6rem;

}

.titleInformation p {
    font-size: 1.4rem;
    margin-left: 10px;
    font-family: var(--primary-font);
    text-transform: uppercase;
}

.pInformation {
    font-size: 1.6rem;
    margin-bottom: 20px;
    font-family: var(--primary-font);
    font-weight: 500;
}

.paymentInformation p {
    font-size: 1.4rem;
    text-transform: uppercase;
    font-family: var(--second-font);
    font-weight: 400;
}

.paymentInformation img {
    margin-top: 10px;
}

.formContact {
    display: flex;
    flex-direction: column;
}

.formContact h3 {
    font-size: 1.4rem;
    font-weight: 600;
    margin-bottom: 10px;
}

.formContact form {
    display: flex;
    flex-direction: column;

}

.formContact form label {
    font-size: 1.4rem;
    margin-bottom: 15px;
    color: #868686;
    font-family: var(--primary-font);
}

.formContact form input {
    width: 400px;
    height: 40px;
    border: 2px solid var(--primary-color);
    padding: 15px;
    color: black;

    margin-bottom: 10px;
}

.formContact form .inputButtonSubmit {
    background-color: var(--primary-color);
    padding: 10px;
    border: none;

    font-family: var(--primary-font);
    color: #fff;
    font-size: 1.6rem;

    text-align: center;

    cursor: pointer;
}

.paragraphErrorEmail {
    text-align: center;
    color: #ff4444;
    font-size: 1.5rem;
    padding-bottom: 5px;
    font-family: var(--second-font);

    font-weight: 500;

    display: none;
}

/*MEDIA QUERIES*/
@media (max-width: 760px) {
    .containerAllInformations {
        display: flex;
        flex-direction: column;
        height: 670px;
        align-items: center;
    }

    .descriptionShop {
        display: flex;
        text-align: center;
        flex-direction: column;
        margin-top: 0;
    }

    .descriptionShop h3 {
        font-size: 2rem;
    }

    .informationShop {
        text-align: center;
        margin-top: 15px;
        margin-bottom: 20px;
    }

    .informationShop .titleInformation .icon {
        margin-left: 65px;
    }

    .informationShop .titleInformation p {
        margin-left: 5px;
        text-align: center;
    }

    .formContact {
        text-align: center;
        margin-bottom: 70px;
    }

    .formContact form input {
        padding: 10px;
        height: 30px;
    }

    .formContact form .inputButtonSubmit {
        padding: 10px;
    }
}

@media (max-width: 430px) {
    .formContact form input {
        width: 300px;
    }

    .formContact form .inputButtonSubmit {
        width: 300px;
    }
}