.aboutContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 100%;
}

.titleAbout h1 {
    margin-top: 30px;
    font-size: 2rem;
    font-family: var(--primary-font);
    font-weight: 400;
    text-transform: uppercase;
}

.textAbout {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 620px;

    text-align: center;
    font-family: var(--primary-font);
    font-size: 1.4rem;

    padding: 10px;
}

.textAbout .firstPAbout {
    margin-bottom: 15px;
}

.imageContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
    margin-top: 20px;
}

.imageContainer .firstImageAbout {
    width: 415px;
    height: 270px;
    
}

.imageContainer img {
    height: 270px;
    width: 310px;
}

/*MEDIA QUERIES*/
@media (max-width: 720px) {
    .imageContainer .firstImageAbout {
        width: 310px;
    }

    .imageContainer img {
        width: 310px;
    }
}