header {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 60px;

    background-color: #fff;
}

/*Logo container*/

.logoHeaderContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logoHeaderContainer p {
    font-size: 2rem;
    font-family: var(--primary-font);
    color: #7a7676;
}

/*Menu Container*/

.menuContainer ul {
    display: flex;
    justify-content: center;
    align-items: center;

    list-style: none;
}

.menuContainer ul li {
    padding: 25px;

    font-family: var(--primary-font);
    font-size: 1.5rem;
    font-weight: 600;

    transition: all ease 0.2s;
}

.menuMobile {
    display: none;
}

/*Login Section*/
.loginSection {
    display: flex;
    align-items: center;
    justify-content: center;
}

.userIcon {
    margin-right: 10px;
    font-size: 2.3rem;
    color: #7a7676;
}

.loginSection p {
    font-size: 1.5rem;
    color: #7a7676;
    font-family: var(--second-font);

    margin-right: 15px;
}

.cartIcon {
    font-size: 1.8rem;
    color: #7a7676;
}

.menuMobileOptions {
    display: none;
}

/*Hover and Effects*/
.menuContainer ul li:hover {
    cursor: pointer;
    color: #5c5a5ade;
}

/*MEDIA QUERIES*/
@media (max-width: 760px) {
    header {
        height: 50px;
    }

    .menuMobile {
        display: block;
        font-size: 2rem;
        color: #7a7676;
    }

    .menuMobile .menuIcon, .menuMobile .cartIcon {
        margin-left: 10px;
        margin-top: 4px;
    }

    .menuContainer, .loginSection {
        display: none;
    }

    .menuMobileOptions {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        background-color: #fff;
        z-index: 99999;

        height: 50px;

        display: none;
    }

    .show {
        display: flex;
    }

    .loginSectionMobile {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .loginSectionMobile p {
        font-size: 1.8rem;
        font-family: var(--primary-font);
        color: #000;
    }

    .menuMobileOptions ul {
        display: flex;
        list-style: none;
    }

    .menuMobileOptions ul li {
        padding: 15px;

        font-family: var(--primary-font);
        font-size: 1.5rem;
        font-weight: 500;

        transition: all ease 0.2s;
    }
}

@media (max-width: 500px) {
    .loginSectionMobile p {
        font-size: 1.5rem;
    }

    .menuMobileOptions ul li {
        font-size: 1.3rem;
    }
}

@media (max-width: 430px) {
    .menuMobileOptions {
        flex-direction: column;
        margin-top: 30px;
        margin-bottom: 20px;
    }

    .loginSectionMobile p {
        font-size: 1.7rem;
    } 

    .menuMobileOptions ul li {
        font-size: 1.6rem;
    }
}