.containerContact {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 100%;
}

.titleContact h1 {
    font-family: var(--primary-font); 
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 20px;
}

.descriptionContact {
    width: 440px;
    margin-bottom: 40px;
}

.descriptionContact p {
    font-weight: 400;
    color: #000;
    font-family: var(--primary-font);
    font-size: 1.6rem;
    text-align: center;
}

.formSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    padding: 15px;
    width: 100%;
    
}

.formSection label {
    margin-bottom: 10px;
    font-size: 1.4rem;
    font-family: var(--primary-font);
    font-weight: 300;
    margin-left: -330px;
}

.formSection .name, .formSection .email {
    margin-left: -360px;
}

.formSection input {
    width: 400px;
    margin-bottom: 10px;
    padding: 5px 25px;
    border: 2px solid var(--primary-color);
    color: #000;

    transform: scale(1);
}

.formSection textarea {
    padding: 20px 25px;
    height: 140px;
    border: 2px solid var(--primary-color);
    color: #000;
    
    transform: scale(1);
    width: 400px;
}

.formSection textarea:focus {
    border: 2px solid var(--primary-color);
    outline: none;
}

.formSection button {
    width: 150px;
    background-color: var(--primary-color);
    font-family: var(--primary-font);
    padding: 10px 5px;
    color: #fff;
    margin-top: 10px;
    font-size: 1.5rem;

    outline: none;
    border: none;

    margin-left: 250px;

    cursor: pointer;
}

.emptyFieldName, .emptyFieldSurename, .emptyFieldEmail, .emptyFieldData {
    font-size: 1.5rem;
    color: #ff4444;
    text-align: center;
    font-family: var(--second-font);
    margin-top: -5px;

    display: none;
}

.emptyFieldData {
    margin-top: 10px;
    margin-bottom: 10px;
}

.sucessEmail {
    color: rgb(6, 161, 6);
    font-size: 1.6rem;
    text-align: center;
    font-family: var(--second-font);
    margin-bottom: 10px;
    
    display: none;
}

@media (max-width: 440px) {
    .descriptionContact {
        width: 310px;
    }

    .formSection textarea, .formSection input  {
        width: 310px;
    }

    .formSection label {
        margin-left: -233px;
    }

    .formSection .name, .formSection .email {
        margin-left: -270px;
    }

    .formSection button {
        margin-left: 160px;
    }
}