.button-chat {
    position: fixed;
    width: 60px;
    height: 60px;

    top: 90vh;
    left: 93vw;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--primary-color);

    cursor: pointer;

    z-index: 999;
}

.button-chat .iconMessage {
    font-size: 2.5rem;
    color: #fff;
}

/*MEDIA QUERIES*/
@media (max-width: 840px) {
    .button-chat {
        left: 90vw;
    }
}